* {
  font-family: "Bitcount", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: rgba(59, 24, 76, 0.645);
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(184, 180, 189, 0.514);
  padding: 20px;
  margin-top: 100px;
  border-radius: 20px;
  border: 1px solid black;
  width: 300px;
}
h1 {
  color: rgba(59, 24, 76, 0.645);
}
h3 {
  color: rgba(59, 24, 76, 0.645);
}
button {
  padding: 10px 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgba(104, 42, 165, 0.107);
  color: rgba(59, 24, 76, 0.645);
  font-weight: bold;
}
span {
  color: rgba(59, 24, 76, 0.645);
}
input {
  border-radius: 20px;
  padding: 20px;
  border: 3px dashed rgba(59, 24, 76, 0.645);
}
